.header_call{
    text-decoration:underline;
}
.header{
  height: 126px;
  width: 100%;
  
}
.header_someinformation{
    height: 44px;
    width: 100%;
    background-color:  #454F5B;
    color:white;
}
.header_announcement{
    text-align: center;
}
.header_call{
    text-align: right;
}